.container {
  background-color: var(--cream);

  h1 {
    background-color: var(--blue-dark);
    text-align: center;
    margin: 0;
    color: var(--gray);
    padding-bottom: 20px;
  }
}

.oferta-wrapper {
  display: flex;
  justify-content: center;
  padding: 5rem 0 7rem 0;
}

// Ikony autorstwa Payungkead
