.banner-wrapper {
  background-color: var(--blue-dark);
  color: #f0e68c;
  //height: 200px;
  //display: flex;

  align-items: center;
}

.banner {
  display: flex;
  padding: 1rem 0;
  justify-content: space-evenly;
  //z-index: 1;
  animation: pulse 5s infinite forwards;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  3.3% {
    -webkit-transform: scale(1.02);
  }
  33% {
    -webkit-transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(1.08);
  }
  67% {
    -webkit-transform: scale(1.05);
  }
  84% {
    -webkit-transform: scale(1.02);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
