:root {
  --background: #ffffff;
  --foreground: #000000;
  --blue-dark: rgb(20, 29, 45);
  --gray: #cdcdcd;
  --cream: rgb(228, 222, 222);
  --golden-dark: rgb(158, 134, 61);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --blue-dark: rgb(20, 29, 45);
    --gray: #cdcdcd;
    --cream: rgb(228, 222, 222);
    --golden-dark: rgb(158, 134, 61);
  }
} */

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

address {
  font-style: normal;
}
