.description-container {
  padding: 3rem 3rem;
  // max-width: 800px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.block-items {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  .title {
    font-size: 30px;
    color: var(--blue-dark);
  }
  .item {
    max-width: 900px;
    font-size: 26px;
    text-align: justify;
  }
}
