.navigation {
  .naviList {
    display: flex;
    list-style: none;
    align-items: center;
    column-gap: 3rem;
    font-size: 19px;
    letter-spacing: 0.5px;
    margin: 0;
    padding-right: 100px;
  }

  a {
    color: var(--gray);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover,
    &.active {
      color: var(--golden-dark);
    }
  }
}

@media (max-width: 992px) {
  .navigation {
    width: 100%;

    .naviList {
      flex-direction: column;
      row-gap: 1.5rem;
      padding: 0;
    }
  }
}
