.photo {
  height: 80vh;
  background-image: url("../../../../public/photos/businessWoman.jpg");
  background-size: 100vw, contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgb(163, 162, 162);
  background-blend-mode: multiply;

  .title {
    height: 100%;
    display: flex;
    //position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    h1 {
      color: var(--blue-dark);
      color: rgb(224, 213, 213);
      font-size: 50px;

      font-family: "Lora", serif;
      //font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      margin: 0;
    }

    p:first-child {
      color: var(--blue-dark);
      color: white;
      font-size: 80px;

      font-family: "Lora", serif;
      //font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      margin: 0;
    }
    p {
      color: var(--blue-dark);
      color: white;
      font-size: 65px;

      font-family: "Lora", serif;
      //font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      margin: 0;
    }
    p:last-child {
      color: goldenrod;
      padding-top: 7rem;
      //padding-left: 3rem;
    }
  }
}
