.footer {
  background-color: var(--blue-dark);
  height: 20rem;
  color: var(--gray);
  display: flex;
  gap: 150px;
  justify-content: center;
  //align-items: center;

  h3 {
    display: flex;
    align-items: center;
    padding: 30px 0 20px 0;
    color: white;
    //text-align: center;
  }

  .item {
    display: "flex";

    a {
      color: var(--gray);
      text-decoration: none;
    }
  }

  .item > div {
    padding: 7px 0;
  }
}

.logo {
  margin: 12px 0 10px 0;
}
