.container {
  background-color: var(--cream);

  h1 {
    background-color: var(--blue-dark);
    margin: 0;
    color: var(--gray);
    padding-bottom: 20px;
    text-align: center;
  }

  .cennik {
    display: block;
    padding: 3rem 0 7rem 0;
  }
}

.zakladki {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
