.zakladka {
  padding: 20px 30px;
  letter-spacing: 1px;
  border: 2px solid var(--gray);
  border-right: 0;
  cursor: pointer;
}

.zakladka:last-child {
  border-right: 2px solid var(--gray);
}

.zakladka:hover {
  background-color: var(--blue-dark);
  color: var(--gray);
}

.zakladka-active {
  background-color: var(--blue-dark);
  color: var(--gray);
  padding: 20px 30px;
  letter-spacing: 1px;
  border: 2px solid var(--gray);
  border-right: 0;
  cursor: pointer;
}
