.navigation {
  display: flex;

  .navi-list {
    display: flex;
    text-align: center;
    padding-left: 3rem;
    list-style: none;
    align-items: center;
    column-gap: 3rem;
    font-size: 19px;
    letter-spacing: 0.5px;
  }
}

.navi-list a {
  color: var(--gray);
  text-decoration: none;
}
.navi-list > li > a:hover,
.navi-list a.active {
  color: var(--golden-dark);
}
