:root {
  --blue-dark: rgb(20, 29, 45);
  --gray: #cdcdcd;
  --cream: rgb(228, 222, 222);
  --golden-dark: rgb(170, 150, 38);
  // --golden-dark: rgb(191, 166, 65);
  --golden-dark: rgb(158, 134, 61);
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
