$nosowa_lawenda: rgb(155, 85, 161);

// .App {
//     height: 100vh;
//     background-color: $nosowa_lawenda;
// }
:root {
  --_bg: rgb(20, 29, 45);
  --navi: #cdcdcd;
}

.wrapper {
  display: grid;
  width: 100vw;
  font-family: "Lato", sans-serif;
  //height: 100%;
  //max-width: 100%;
  // width: auto;
  // height: auto;
  //display: flex;
  //display: block;
  //grid-template-columns: 500px;
  //grid-template-areas: "head head head" "righ-side main left-side" "logo footer footer";
}
